/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
*{
    box-sizing: border-box;
}

.discussion__container{
    width: 540px;
    border-style: solid;
    border-color: black;
    display:flex;
    margin: 1%;
}
.discussion__container div:last-child{
    margin-left: auto;
    display:flex;
}
ul {
    list-style-type: none;
}
img{
    border-radius: 50%;
    width : 48px;
    display: flex;
}
